
/* @font-face: { */
  
/*   src: url(../assets/fonts/SourceCodePro); */
/* } */


body {
  background-color: #242236;
}
h1 {
  color: white;
}
p {
  color: #ccccff;
}

.name {
  font-family: "Source Code Pro";
}
.char1 {
  animation: appear 1s forwards;
}
