/* @font-face: { */
  
/*   src: url(../assets/fonts/SourceCodePro); */
/* } */


body {
  font-family: "Source Code Pro";
  background-color: #242236;
}
h1 {
  color: white;
}
p {
  color: #ccccff;
}
